.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-primary {
  color: var(--white);
  background-color: var(--blue);
}

.badge-secondary {
  color: var(--white);
  background-color: var(--indigo);
}

.badge-success {
  color: var(--white);
  background-color: var(--green);
}

.badge-danger {
  color: var(--white);
  background-color: var(--red);
}

.badge-warning {
  color: var(--dark);
  background-color: var(--orange);
}

.badge-info {
  color: var(--white);
  background-color: var(--steel-blue);
}

.badge-light {
  color: var(--dark);
  background-color: var(--light);
}

.badge-dark {
  color: var(--white);
  background-color: var(--dark);
}
