.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.circle:hover {
    background-color: var(--red);
}

.icon {
    color: var(--light)
}