.customCardWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0px;
  min-height: 250px;
  background: var(--indigo);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  color: var(--white);
}

.customCardWrapper.bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  opacity: 0.05;
  z-index: 1;
}

.customCardWrapper.bg-plus:before {
  background: url("/backgrounds/plus.png");
  background-size: cover;
}

.customCardWrapper.bg-generic:before {
  background: url("/backgrounds/generic-account.png");
  background-size: cover;
}

.customCardInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-self: stretch;
  flex-grow: 1;
  gap: 0.5rem;
  z-index: 2;
}

.customCardInner.expansive {
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}

.cardHeader .iconWrapper {
  opacity: 0.7;
}

.cursorPointer {
  cursor: pointer !important;
}

.click {
  cursor: pointer;
  opacity: 0.5;
  transition: all var(--transition-duration) var(--transition-type);
  z-index: 3;
}

.click:hover {
  opacity: 1;
}

.cardBody {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.subtext {
  font-size: 0.8rem;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 75px;
  height: 40px;

  background: var(--white);
  border-radius: 50px;
}

.logoWrapper > img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 40%;
}

.paymentDate {
  font-size: 0.8rem;
}

.innerProgression:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: var(--innerProgression);
  height: 100%;
  background: var(--red);
  opacity: 0.4;
  z-index: 2;
}
