.offcanvas {
  position: fixed;
  width: 100vw;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background-clip: padding-box;
  transition: transform 0.3s ease-in-out;
  height: 100vh;
}

.offcanvasInner {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  width: 30%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  max-width: 100%;
  color: var(--dark);
  visibility: auto;
  background-color: var(--light);
  background-clip: padding-box;
  outline: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  padding: 60px;
}

.offcanvas::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  opacity: 0.4;
}
