.layout {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  overflow: auto;
  margin-left: var(--sidebar-width);
}

.sidebar_open {
  margin-left: calc(var(--sidebar-width) * 3.15)
}

.content {
  padding: 30px;
  height: 100%;
}