.e-kanban {
  display: block;
  outline: medium none;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.e-control,
.e-control [class^="e-"],
.e-control [class*=" e-"] {
  box-sizing: border-box;
}

.e-kanban .e-kanban-header > div {
  overflow: hidden;
}

.e-kanban .e-kanban-table {
  border: 0;
  table-layout: fixed;
  width: 100%;
}

.e-kanban .e-kanban-header .e-header-cells {
  height: 44px;
  overflow: hidden;
  padding: 25px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.e-kanban
  .e-kanban-content
  .e-content-row
  .e-content-cells
  .e-card-wrapper
  .e-card.e-draggable {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.e-kanban
  .e-kanban-table.e-content-table
  .e-content-row:not(.e-swimlane-row)
  td {
  border-bottom: 2px dashed var(--dark-50);
}

.e-kanban
  .e-kanban-table.e-content-table
  .e-content-row:not(.e-swimlane-row)
  td:nth-of-type(1) {
  border-left: 2px dashed var(--dark-50);
}

.e-kanban
  .e-kanban-table.e-content-table
  .e-content-row:not(.e-swimlane-row)
  td:not(:last-of-type) {
  border-left: 2px dashed var(--dark-50);
  border-right: 2px dashed var(--dark-50);
}

.e-kanban
  .e-kanban-table.e-content-table
  .e-content-row:not(.e-swimlane-row)
  td:last-of-type {
  border-right: 2px dashed var(--dark-50);
}

.e-header-cells:nth-of-type(1) {
  border-left: 2px dashed var(--dark-50);
  border-top: 2px dashed var(--dark-50);
}

.e-header-cells:not(:last-of-type) {
  border-left: 2px dashed var(--dark-50);
  border-top: 2px dashed var(--dark-50);
  border-right: 2px dashed var(--dark-50);
}

.e-header-cells:last-of-type {
  border-top: 2px dashed var(--dark-50);
  border-right: 2px dashed var(--dark-50);
}

.e-kanban .e-kanban-header .e-header-cells .e-header-wrap {
  display: flex;
}

.e-kanban .e-kanban-header .e-header-cells .e-header-wrap .e-header-title {
  display: flex;
  width: 100%;
  align-items: center;
}

.e-kanban
  .e-kanban-header
  .e-header-cells
  .e-header-wrap
  .e-header-title
  > div {
  width: 100%;
}

.e-kanban .e-kanban-header .e-header-cells .e-header-text {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  color: var(--dark);
}

.e-kanban .e-kanban-header .e-header-cells .e-item-count {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.625;
  margin-top: 0;
  opacity: 1;
  text-transform: capitalize;
}

.e-kanban .e-kanban-table .e-header-cells .e-item-count {
  color: #6c757d;
}

.e-kanban .e-kanban-content {
  overflow: auto;
  padding-bottom: 10px;
}

.e-kanban
  .e-kanban-content
  .e-content-row:not(.e-swimlane-row)
  .e-content-cells {
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: top;
}

.e-kanban
  .e-kanban-content
  .e-content-row:not(.e-swimlane-row)
  .e-content-cells
  .e-card-wrapper,
.e-kanban
  .e-kanban-content
  .e-content-row:not(.e-swimlane-row)
  .e-content-cells
  .e-card-container {
  min-height: 50px;
}

.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper,
.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-container {
  height: inherit;
  overflow: auto;
  padding: 0 25px 25px 25px;
}

.e-kanban
  .e-kanban-content
  .e-content-row
  .e-content-cells
  .e-card-wrapper
  .e-card.e-draggable,
.e-kanban
  .e-kanban-content
  .e-content-row
  .e-content-cells
  .e-card-container
  .e-card.e-draggable {
  cursor: all-scroll;
}

.e-kanban
  .e-kanban-content
  .e-content-row
  .e-content-cells
  .e-card-wrapper
  .e-card
  .e-card-header,
.e-kanban
  .e-kanban-content
  .e-content-row
  .e-content-cells
  .e-card-container
  .e-card
  .e-card-header {
  padding: 12px 14px 0;
}

.e-kanban .e-kanban-table.e-content-table .e-card .e-card-header {
  color: #212529;
}

.e-card .e-card-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: normal;
  min-height: 22.5px;
  padding: 12px;
  width: inherit;
  padding-bottom: 0;
}

.e-card .e-card-header .e-card-header-caption:first-child {
  padding: 0;
}

.e-card .e-card-header .e-card-header-caption {
  align-self: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  overflow: hidden;
  padding: 0 0 0 12px;
}

.e-card .e-card-header-caption {
  line-height: normal;
}

.e-kanban
  .e-kanban-content
  .e-content-row
  .e-content-cells
  .e-card-wrapper
  .e-card
  .e-card-header
  .e-card-header-title,
.e-kanban
  .e-kanban-content
  .e-content-row
  .e-content-cells
  .e-card-container
  .e-card
  .e-card-header
  .e-card-header-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.625;
}

.e-card .e-card-header .e-card-header-caption .e-card-header-title,
.e-card .e-card-header .e-card-header-caption .e-card-sub-title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.e-card .e-card-header-caption .e-card-header-title {
  color: #212529;
}

.e-kanban
  .e-kanban-content
  .e-content-row
  .e-content-cells
  .e-card-wrapper
  .e-card
  .e-card-content,
.e-kanban
  .e-kanban-content
  .e-content-row
  .e-content-cells
  .e-card-container
  .e-card
  .e-card-content {
  font-size: 14px;
  line-height: 1.625;
  padding: 8px 14px;
}

.e-kanban .e-kanban-table.e-content-table .e-card .e-card-content {
  color: #343a40;
}

.e-card .e-card-content {
  font-size: 14px;
  line-height: 1.5;
  padding: 12px;
  word-wrap: break-word;
}

.e-spinner-pane.e-spin-hide {
  display: none;
}

.e-spinner-pane {
  background-color: transparent;
}

.e-spinner-pane {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 100%;
  z-index: 1000;
}

.e-spinner-pane .e-spinner-inner {
  -webkit-transform: translateX(-50%) translateY(-50%);
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
}

.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-kanban-border {
  display: none;
}
.e-kanban
  .e-kanban-content
  .e-content-row
  .e-content-cells
  .e-kanban-border.e-dropping {
  display: block;
  position: absolute;
}
