.header {
  height: var(--sidebar-logo-height);
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header svg {
  font-size: 20px;
  cursor: pointer;
}

.user_wrapper {
  display: flex;
  align-items: center;
}

.img_wrapper {
  border-radius: 50%;
}

.user_info {
  display: flex;
  flex-direction: column;
  float: right;
  text-align: right;
  padding-right: 14px;
}

.user_info b {
  font-size: 14px;
}

.user_info span {
  font-size: 12px;
}

.menuLink {
  width: auto;
  overflow: hidden;
  font-size: 1rem;
  box-sizing: border-box;
  min-height: 48px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 6px;
  white-space: nowrap;
  padding-bottom: 6px;
  color: var(--dark);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 16px;
  gap: 10px;
}

.menuIcon {
  font-size: 0.9rem !important;
  transition: all 0.25s ease;
}

.menuLink:hover {
  background-color: var(--indigo);
  color: var(--light)
}