.sidebar {
  background-color: var(--dark);
  color: var(--light);
  width: var(--sidebar-width);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.sidebar.expanded {
  width: calc(var(--sidebar-width) * 3.15);
}

.logo-container {
  height: var(--sidebar-logo-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(var(--light-rgb), 0.25);
  padding: 0 1rem;
}

.menu {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.menu a {
  padding: 10px 10px 10px 25px;
  cursor: pointer;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 10px;
  color: var(--light);
  transition-duration: var(--transition-time);
  text-decoration: none;
  display: flex;
}

.menu a.active,
.menu a:hover,
.menuActive {
  background-color: var(--violet);
}

.menu a i {
  padding-right: 10px;
}

.menu a svg {
  width: 15px;
}

.sidebar .menu span {
  opacity: 0;
}

.sidebar.expanded .menu span {
  opacity: 1;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.menuCollapseWrapper {
  position: absolute;
  right: -16px;
  top: calc(var(--sidebar-logo-height) - 16px);
  z-index: 99;
}

.menuCollapseInner {
  width: 32px;
  height: 32px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 0px none;
  border-radius: 50%;
  color: var(--dark);
  cursor: pointer;
  opacity: 1;
  outline: 0px;
  transition: background-color 100ms linear 0s, color 100ms linear 0s,
    opacity 350ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.menuCollapseInner:hover{
  background-color: var(--violet);
  color: var(--white);
}

.sidebar:not(.expanded) .menuCollapseInner {
  transform: rotate(180deg);
  transform-origin: 16px center 0px;
}
