.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;

  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px rgba(235, 233, 237, 0.2);
  border-radius: 10px;
  height: 100%;
}

.card .info_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.info_header .info > span {
  font-size: 13px;
  text-transform: uppercase;
}

.info > h4 {
  margin-bottom: 0;
}

.round_icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white)
}
